.header {
    -fx-background-color: #1b2838;
    -fx-padding: 10 20 10 20;
    -fx-spacing: 20;
    -fx-alignment: center-left;
    -fx-border-color: rgba(102,192,244,0.25);
    -fx-border-width: 0 0 1 0; /* línea inferior */
}

.header-label {
    -fx-text-fill: #66c0f4;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-cursor: hand;
}

.header-label:hover {
    -fx-text-fill: #ffffff;
    -fx-underline: true;
}


.root {
    -fx-background-color: #121a24;
    -fx-font-family: "Segoe UI";
}

.label {
    -fx-text-fill: #e0e0e0;
    -fx-font-size: 13px;
}

.title {
    -fx-font-size: 28px;
    -fx-text-fill: #ffffff;
    -fx-font-weight: bold;
}

.text-field, .password-field {
    -fx-background-color: #1b2838;
    -fx-text-fill: white;
    -fx-border-color: rgba(102,192,244,0.25);
    -fx-border-radius: 5;
}

.button {
    -fx-background-color: #66c0f4;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-background-radius: 6;
}

.button:hover {
    -fx-background-color: #2563eb;
}

.message {
    -fx-text-fill: #aaaaaa;
}

.menu {
    -fx-background-color: #1b2838;
    -fx-spacing: 20;
    -fx-padding: 10;
}

.menu .label {
    -fx-text-fill: #66c0f4;
    -fx-font-weight: bold;
    -fx-font-size: 16px;
}

.store-card {
    -fx-background-color: #1b2838;
    -fx-padding: 10;
    -fx-border-radius: 8;
    -fx-background-radius: 8;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.5), 4, 0.5, 0, 2);
    -fx-cursor: hand;
    -fx-pref-width: 200;
}

.store-card:hover {
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
    -fx-effect: dropshadow(gaussian, rgba(102,192,244,0.6), 8, 0.5, 0, 4);
}

.card-title {
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-text-fill: #66c0f4;
}

.card-description {
    -fx-font-size: 12px;
    -fx-text-fill: #cccccc;
}

.tienda {
    -fx-background-color: #121a24;
}
